<header>
    <div class="main-header">
      <div class="logo-side">
        <div class="btn-main">
          <a routerLinkActive="active" routerLink="">ANZA</a>
        </div>
      </div>
      <nav class="navbar">
        <ul class="navbar-menu">
          <li><a #btnHome class="btnHome" routerLinkActive="active" routerLink="">Home</a></li>
          <li><a #btnShop class="btnShop">Shop</a></li>
          <li><a #btnContact class="btnContact">Contact</a></li>
        </ul>
        <ul class="navbar-user">
          <li class="btn-search" #searchBtn><a><i class="fas fa-search"></i></a></li>
          <li class="btn-account" #profileBtn><a><i class="fas fa-user-alt"></i></a></li>
          <li class="btn-liked-items"><a><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
      </nav>
    </div>
</header>
<body>
    <div class="main-body">
      <div class="container">
        <div class="row">
          <div class="main-left-body">
            <div class="profile-photo">
              <button #changePhotoBtn #display (click)="uploadBtnClick()" title="Upload Profile Photo" data-bs-toggle="modal" data-bs-target="#uploadPhotoModal">
                <img [src]="imageUrl" #profilePhoto alt="Upload Profile Photo">
              </button>
            </div>
            <div class="profile-photo-modal" *ngIf="display">
              <app-upload-photo-modal></app-upload-photo-modal>
            </div>
            <div class="account-settings-modal" *ngIf="display">
              <app-settings-modal></app-settings-modal>
            </div>
          </div>
          <div class="main-right-body">
            <div class="profile-info">
              <p #username></p>
              <button title="Edit Profile" routerLinkActive="active" routerLink="edit" class="edit-profile-btn" #editProfileBtn>Edit Profile</button>
              <button title="Account Settings" (click)="settingsBtnClick()" data-bs-toggle="modal" data-bs-target="#settingsModal" class="profile-settings-btn"><i class="fas fa-user-cog"></i></button>
              <router-outlet></router-outlet>
            </div>
            <div class="profile-activity">
              
            </div>
          </div>
        </div>
      </div>
    </div>
</body>