<main>
    <section class="custom-row">
        <aside class="user-main-sign left">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="custom-active" routerLink="in">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="custom-active" routerLink="up">Sign Up</a>
                </li>
            </ul>
            <router-outlet></router-outlet>
        </aside>
        <aside class="right">
            <img src="../../../assets/218199130_3028101910851001_7733258336281380036_n.jpg" alt="">
        </aside>
    </section>
</main>